{% extends 'core/home.html' %}
{% load static %}

{% block content %}



<div class="form-container">
    <form method="POST" class="formulario" novalidate>
        {% csrf_token %}
        <h2>Agregar Producto</h2>

        {% for field in form %}
            <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
            {{ field }}
            {% for error in field.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
        {% endfor %}

        <button type="submit" class="btn-global" style=" margin-top: 15px; ">💾 Agregar</button>
        <a href="{% url 'productos' %}" class="btn-global">⬅️ Volver</a>
    </form>
</div>
<style>
    .error {
        color: red;
        font-size: 0.9em;
        margin-top: 3px;
        margin-bottom: 8px;
    }
</style>
{% endblock %}

