{% extends 'core/home.html' %}
{% load static %}

{% block content %}

<div class="agregar-wrapper">

    <div class="card-premium-v2 form-card">

        <h2 class="titulo-form">Agregar Producto</h2>
        <p class="sub-text">Complete los campos para registrar un nuevo producto</p>

        <form method="POST" class="form-premium" novalidate>
            {% csrf_token %}

            {% for field in form %}
            <div class="form-group-premium">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}

                {% if field.errors %}
                    <p class="error-premium">{{ field.errors.0 }}</p>
                {% endif %}
            </div>
            {% endfor %}

            <button type="submit" class="btn-premium-full">💾 Agregar Producto</button>
            <br>
             <br>
            <a href="{% url 'productos' %}"  class="btn-premium-secundario">⟵ Volver</a>
        </form>

    </div>

</div>

{% endblock %}
