{% extends 'core/home.html' %}
{% load static %}

{% block content %}

{% if messages %}
  <div class="mi-mensaje-contenedor">
    {% for message in messages %}
      <div class="mi-mensaje mi-mensaje-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
  </div>
{% endif %}

<div class="editar-wrapper">

    <div class="card-premium-v2 form-card">

        <h2 class="titulo-form">Editar Producto</h2>
        <p class="sub-text">Modifique los campos y guarde los cambios</p>

        <form method="POST" class="form-premium" novalidate>
            {% csrf_token %}

            <div class="form-group-premium">
                <label>Nombre:</label>
                <input type="text" name="nombre" value="{{ producto.nombre }}">
            </div>

            <div class="form-group-premium">
                <label>Descripción:</label>
                <textarea name="descripcion">{{ producto.descripcion }}</textarea>
            </div>

            <div class="form-group-premium">
                <label>Precio Compra:</label>
                <input type="number" step="0.01" name="precio_compra" value="{{ producto.precio_compra }}">
            </div>

            <div class="form-group-premium">
                <label>Precio Venta:</label>
                <input type="number" step="0.01" name="precio_venta" value="{{ producto.precio_venta }}">
            </div>

            <div class="form-group-premium">
                <label>Stock Inicial:</label>
                <input type="number" value="{{ producto.stock_inicial }}" readonly style="background:#ececec; cursor:not-allowed;">
            </div>

            <div class="form-group-premium">
                <label>Stock Actual:</label>
                <input type="number" name="stock" value="{{ producto.stock }}">
            </div>

            <button type="submit" class="btn-premium-full">💾 Guardar Cambios</button>
            <a href="{% url 'productos' %}"  class="btn-premium-secundario">⟵ Volver</a>
        </form>

    </div>

</div>

{% endblock %}
