{% extends 'core/home.html' %}
{% load static %}

{% block content %}
<main class="contenido">
<div class="contenedor-central">
    <div class="fila-botones">
        <a href="{% url 'registro_cliente' %}">
            <button class="btn-index">➕ Registrar Nuevo Cliente</button>
        </a>
  <a href="{% url 'renovarCliente' %}">
        <button class="btn-index">🔁 Renovar Cliente</button>
 </a>
        <a href="{% url 'asistencia_cliente' %}">
            <button class="btn-index">✔️ Asistencia Clientes</button>
        </a>
            <a href="{% url 'asistencia_kine_nutri' %}">
        <button class="btn-index">🩺 Asistencia Kine & Nutri</button>
    </a>
    </div>

    <div class="fila-botones">
        <a href="{% url 'listaCliente' %}">
            <button class="btn-index">📋 Lista Clientes</button>
        </a>

    <a href="{% url 'historial_cliente' %}">
            <button class="btn-index">📜 Historial Cliente</button>
        </a>

       <a href="{% url 'productos' %}">
            <button class="btn-index">📦 Inventario</button>
        </a>

        <a href="{% url 'panel_precios' %}">
            <button class="btn-index">💲 Panel Precios y Descuentos</button>
        </a>

        <a href="{% url 'dashboard' %}">
            <button class="btn-index">📊 Dashboard</button>
        </a>
      
    </div>
</div>


</main>
{% endblock %}
